[defaults]
inventory = ./inventory.yml
roles_path = ./roles/common:./roles/dns:./roles/k3s:./roles/platform
host_key_checking = False
localhost_warning = False
# jinja2.extensions = jinja2.ext.loopcontrols
